<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sweet Dessert</title>
</head>
<body>
<h1>Register</h1>
<form method="POST" th:action="@{/user/login/create}" id="createUserRequest">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username"/><br/>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password"/><br/>
    <label for="confirm">Confirm password: </label>
    <input type="password" id="confirm" name="confirm"/><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>